[submodule "vim/vim.symlink/bundle/vim-pathogen"]
	path = vim/vim.symlink/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "zsh/plugins/history-substring-search"]
	path = zsh/plugins/history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
[submodule "android/logcat-color"]
	path = android/logcat-color
	url = git://github.com/marshall/logcat-color.git
[submodule "tmux/tmux.symlink/plugins/tpm"]
	path = tmux/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/tmux.symlink/plugins/tmux-yank"]
	path = tmux/tmux.symlink/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/tmux.symlink/plugins/tmux-copycat"]
	path = tmux/tmux.symlink/plugins/tmux-copycat
	url = https://github.com/tmux-plugins/tmux-copycat
[submodule "tmux/tmux.symlink/plugins/tmux-open"]
	path = tmux/tmux.symlink/plugins/tmux-open
	url = https://github.com/tmux-plugins/tmux-open
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "tmux/tmux.symlink/plugins/tmux"]
	path = tmux/tmux.symlink/plugins/tmux
	url = https://github.com/dracula/tmux
[submodule "powerlevel10k/powerlevel10k"]
	path = powerlevel10k/powerlevel10k
	url = https://gitee.com/romkatv/powerlevel10k.git
	branch = v1.14.5
[submodule "vim/vim.symlink/bundle/vim-plug"]
	path = vim/vim.symlink/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug
